---
http_interactions:
- request:
    method: get
    uri: https://sandbox.moip.com.br/v2/transfers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 9fdc242631454d4c95d82e27b4127394_v2
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"summary":{"amount":356104228,"count":31721},"transfers":[{"fee":0,"amount":500,"updatedAt":"2017-10-27T16:50:27.000Z","id":"TRA-8PBO743QDU9W","transferInstrument":{"method":"BANK_ACCOUNT","bankAccount":{"id":"BKA-22IFEOPZJAJB","agencyNumber":"1111","holder":{"taxDocument":{"number":"255.328.259-12","type":"CPF"},"fullname":"Jose
        Silva dos Santos"},"accountNumber":"9999","accountCheckNumber":"8","bankName":"BANCO
        DO BRASIL S.A.","type":"CHECKING","agencyCheckNumber":"2","bankNumber":"001"}},"status":"COMPLETED","createdAt":"2017-10-27T16:50:27.000Z","role":"PAYER","_links":{"self":{"href":"https://sandbox.moip.com.br/v2/transfers/TRA-8PBO743QDU9W"}}},{"fee":0,"amount":500,"updatedAt":"2017-10-27T12:39:33.000Z","id":"TRA-J2J6UVF9IGDT","transferInstrument":{"method":"BANK_ACCOUNT","bankAccount":{"id":"BKA-22IFEOPZJAJB","agencyNumber":"1111","holder":{"taxDocument":{"number":"255.328.259-12","type":"CPF"},"fullname":"Jose
        Silva dos Santos"},"accountNumber":"9999","accountCheckNumber":"8","bankName":"BANCO
        DO BRASIL S.A.","type":"CHECKING","agencyCheckNumber":"2","ban[...]
